@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Black.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-LightItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Italic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-Light.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesans/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/sourcesans/SourceSansPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
/* POPPINS */

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-LightItalic.woff2') format('woff2'),
        url('Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Italic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Black.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Light.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-MediumItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-BlackItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-BoldItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-ThinItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


*{
    box-sizing:border-box;
}

body{
    background-color: #e7f2fd;
}

/* font selectors */

h1 {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal; 
    color: #3e3e49;
    text-align: center;
}

h2{
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;  
    color: #3e3e49;
    text-align: center;
}
h4{
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;  
    color: #3e3e49;
    text-align: center;
}
p{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3e3e49;
    font-size: 120%;
    line-height: 1.9rem;
    margin: 0;
}






/* global selectors */

/* seperator */
.pageborder{
    background-color: #3e3e49;
    height: 2px;
    margin: 1.5rem auto 0;
    width: 80%;
    border-radius: 20%;
}
.pageborder--white{
    background-color: #e7f2fd;
    height: .5px;
   
}


/* image selectors */
img{
    height: auto;
    width: 100%;
}

/* hero header styles */

.header{
    min-height: 600px;
    position: relative;
}

.header_image{
    height: 100%;
    object-fit: cover;
    object-position: top right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}  
.header_image--work{
    object-position: center;
}

.header_content {
    margin: 0 20% 0% 2%;
    max-width: 100%;
    padding: 250px 0px;
    position: relative;
    z-index: 50;
}

.centerheader_content {
    margin: 0 10%;
    max-width: 100%;
    padding: 250px 0px;
    position: relative;
    z-index: 50;
}

.header_subtitle{
text-align: left;
color: #f1f1f1;
font-weight: 500;
}

.header_title{
    text-align: left;
    color: #f1f1f1;
    margin-top: 0;
}
.centerheader_title{
    text-align: center;
    font-style: italic;
    font-weight: 500;
    color: #f1f1f1;
    margin-top: 0;
    font-size: 250%;
}
.workheader{
    margin-top: 5rem;
    margin: 5rem 10% 0;
}
.workheader_subtitle{
font-style: italic;
font-size: 150%;
text-align: center;
margin-bottom: 3.5rem;

}
.workheader_title{
    margin-top: 4rem;
    font-size: 300%;
    font-weight: 600;
}
/* homepage/project framework selectors */
.projectswrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;


}
.projectcontainer{
    background-image: linear-gradient(to right,#204164, #3d6388 );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0;
    margin: 0 0 5rem; 
}

.project_title{
    color: #f1f1f1;
    text-align: center;
    font-weight: 600;
    font-size: 160%;
    width: 100%;
}
.project_textcontainer{
    padding: 0rem 7% 1rem;
    background-color: #316092;
    border-radius: 0 0 10px 10px;
}

.project_buttoncontainer{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
}
.project_button{
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 130%;
    background-color: rgba(113, 147, 185, 0.7);
    color: white;
    width: 100%;
    max-width: 70%;
    height:50px;
    border: none;
    border-radius: 10px;
}

.project_imagecontainer{
    padding: 2rem 2rem;  
    display: flex;
    width: 100%;
    justify-content: center;

}

.description{
    text-align: left;
    color: white;
    margin: 0;
}

/* FOOTER Selectors */

.footer_header{
    display: block;
    color: #e7f2fd;
    text-align: center;
    padding: 2rem;

}
.footer_buttoncontainer{
    margin: 5rem 0 1rem;
    width: 100%;
    display:flex;
    justify-content: center;
}
.footer_button{
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 500;
    background-color: transparent;
    /* background-color: rgba(113, 147, 185, 0.7); */
    color: #e7f2fd;
    border: 2px solid #e7f2fd;
    width: 100%;
    max-width: 250px;
    height:50px;
    border-radius: 7px;
}
.footer{
    background-color: #272b38;
    border-top: solid 0.5px #0e0f1b;
    /* max-height: 100px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.socialmedia_container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.socialmedia_imagecontainer{
    margin: 0 .5rem;
    display: flex;
    justify-content: center;
}

.socialmedia_image{
    width: 90%;
}

.footertext_container{
    padding: 0 1rem;

}
.footertext{
    display: block;
    text-align: center;
    margin: .5rem 0 1rem;
    width: 100%;
    color: #f1f1f1;
    padding: 0 2rem;
    font-size: 80%;
}
 /* DIFFERNT COLORS pic bgs */
.projectcontainer--green{
    background-image: linear-gradient(to right,#061f07, #10501e );   
}
.projectcontainer--storm{
    background-image: linear-gradient(to right,#424353, #272b38 );   

}
.projectcontainer--blue{
    background-image: linear-gradient(to left,#102b44, #154377 );     
}
.projectcontainer--dark{
    background-image: linear-gradient(to left,#222222, #414141 );  
}
.projectcontainer--light{
    background-image: linear-gradient(to left,#8a8a8a, #999999 );  
}


/* BUTTON BG COLORS */
.project_button--green{
    background-color: rgba(73, 167, 77, 0.7);
}
.project_button--storm{
    background-color: rgba(154, 156, 182, 0.7);
  
}
.project_button--dark{
    background-color: rgba(179, 179, 179, 0.7);
}
.project_button--light{
    background-color: rgba(145, 145, 145, 0.7);
}

/* TEXT CONTAINER BG colors */
.project_textcontainer--green{
    background-color: #1f612d;
}
.project_textcontainer--storm{
    background-color: #686c85;
}

.project_textcontainer--dark{
    background-color: #616161;
}
.project_textcontainer--light{
    background-color: #a8a8a8;
}







/* casestudy selectors */
.casestudywrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.casestudycontainer{
    margin: 0 0 3rem;
}

.casestudy_imagecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    border:5px solid red;
}

.casestudy_textcontainer{
    padding:  2% 5% 7%;
    width: 100%;
}

.headercontainer{
    width: 100%;
}

.header_part{
    text-align: center;
}
.casestudy_sectiontitle{
    margin: 1rem auto 0;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery_image{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1rem; 
}

.casestudy_list{
    list-style-type: circle;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    color: #5f5f5f;  
    text-align: left;
    font-size: 120%;
    line-height: 1.9rem;
    padding-bottom: 1rem;
    margin-top: 0;
    }









@media screen and (min-width: 450px){
/* headerselectors */


    /* home and project selectors */
    .projectswrapper{
        padding: 7%;
    }
    .projectcontainer{
        border-radius: 10px;
        box-shadow: 5px 5px  5px rgba(0, 0, 0, 0.5);
    }

    .project_textcontainer{
        padding: 3% 7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .project_buttoncontainer{
        justify-content: flex-start;
    }
    .project_button{
        max-width: 250px;
    }

    .projectimage{
        border-radius: 10px;
    }
    /* casestudy selectors */

    .casestudywrapper{
        padding: 7%;
    }
    .casestudy_image{
        border-radius: 10px;
        width: 100%;
    }

    .casestudy_imagecontainer{
     max-height: 660px;
    }
    .casestudy_image{
        max-height: 600px;
        max-width: 600px;
    }
    .casestudy_textcontainer{
        padding: 1% 7% 3%;
    }
    .project_title{
        text-align: left;
    }

}





    
@media screen and (min-width: 650px) {
 /* header selectors */

    .header_content {
        margin: 0 20% 0% 5%;
    }

    .header_subtitle{
       font-size: 140%;
        }
        
        .header_title{
            font-size: 250%;
        }

    .projectswrapper{
        padding: 10%;
    }
    .project_textcontainer{
        justify-items: flex-start;
        padding-right: 30%;
    }
    
    .socialmedia_image{
        width: 75%;
    }
}

    

@media screen and (min-width: 1080px) {
    
    /* hoempage project Selectors */
    .projectswrapper{
    padding: 5%;   
    justify-content: space-around;
    }
  
    .projectcontainer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        min-height: 500px;
        max-width: 1250px;
        border-radius: 0;
        margin: 0 0 5rem; 
        border-radius: 10px;
        box-shadow: 5px 5px  5px rgba(0, 0, 0, 0.5);
    }

    .project_textcontainer{
        width:50%;
        justify-content: center;
        padding-right: 0;
        align-content: flex-end;
        background-color: transparent;
    }

    .project_imagecontainer{
        width: 50%;
        align-items: center;
    }


    /* Footer selectors */

    .socialmedia_image{
        width: 65%;
    }


.casestudywrapper{
    padding: 1%;
}
.gallery_image{
    max-width: 45%; 
    margin: 1% 2% 0;
}

}

